
h1 {
    color: #ffffff;
    text-align: center;
}
h2 {   
    margin-top: 20px;
    margin-left : 50px;
    line-height: 30px;
    width: 250px;
    color: #ffffff;
}
h3{
    color: #e4ac9c;

}
.shapochka {
    background-color: #e4ac9c;
    border-radius: 20px 20px 0 0;
    padding: 1em;
}
.formt  {
    width: 450px;
    position: relative;
    background: #ffffff;
    border-radius: 0 0 20px 20px;
    padding: 2em;
}

button {
    display: block;
    margin: 0 auto;
    padding: 0.5em 2em;
    margin-top: 1em;
}

.but {
    display: block;
    border-radius: 40px;
    background-color: #e4ac9c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 0.5em 2em;
    width: 400px;
    justify-content: flex-end;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 1em;
}

.but span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    justify-content: center;
}

.but span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.but:hover span {
    padding-right: 25px;
}

.but:hover span:after {
    opacity: 1;
    right: 0;
}